@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0;
}
a {
  text-decoration: none;
}
ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}
 
input {
  border: none;
  -moz-appearance:none;
  -webkit-appearance : none ;/*解决ios上按钮的圆角问题*/
  border-radius: 0;/*解决ios上输入框圆角问题*/
  outline:medium;/*去掉鼠标点击的默认黄色边框*/
  background-color: transparent;
}